.link {
  color: #c65e31;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.link:hover {
  color: #497285;
}
h1 {
  margin: 0;
  color: #2b4450;
  font-weight: normal;
}
h1 {
  font-size: 40px;
  font-weight: normal;
}
